*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body{
  color: blue;
  background: url(../image/star-wars.jpeg);
  display: flex;
  justify-content: center;
  text-align: justify;
  text-transform: uppercase;
  font-family: 'Pathway Gothic One', sans-serif;
 letter-spacing: 6px;
 line-height: 150%;
 font-weight: 600;
 margin: 20%;
 font-size: 200%;
 height: 800px;
 perspective: 400px;
 transform-origin: 50% 100%;
 overflow: hidden;
}


.container-star-wars {
  
}

.title {
    text-align: center;
}

@keyframes crawl {

    0% {
        top: 0;

        transform: rotateX(20deg) translateZ(0);
    }
    

    100% {
        top: -6000px;

    transform: rotateX(25deg) translateZ(-2500px);
    }
}